<%- include('partials/header') %>

<div class="cctv-click">
  <form action="/image" method="GET">
    <button type="submit">
      <h3> CCTV Monitoring – <%= district %></h3>
    </button>
  </form>
</div>


<div class="cctv-gallery">
  <% cctvImages.forEach(image => { %>
    <div class="cctv-card">
      <img src="<%= image.url %>" alt="<%= image.name %>">
      <div class="cctv-caption"><%= image.name %></div>
    </div>
  <% }); %>
</div>



<%- include('partials/footer') %>

